body {
	font-family: Montserrat,Roboto,Helvetica Neue,sans-serif;
	background: #111;
}

.restaurant img{
	width: 100%;
}

.comment-form {
	width: 100%;
}

.comment-form .comment-input {
	width: 100%; border: none;  font-size: 20px; resize: none; background: #222; color: #fff;
}

.comment-form .submit-btn {
	background-color: #bbb; color: #000; border: 0; border-radius: 2em; padding: 0.7em 2em; cursor: pointer; margin-top: 1.5em;
}

.emotion, .confirm img{
	display: block; margin-left: auto; margin-right: auto; width: 80%; padding: 3% 15% 2% 15%;
}

.confirm a {
	width: 50%; display: table-cell;
}

.confirm a img {
	width: 80%; border: 1px solid #222; 
}

.confirm a img:hover {
	cursor: pointer; border: 2px solid #fff;
}

@media screen and (min-width: 800px)
{
	.container {
		margin-left: -40px;
	}
	
	.review {
		position: fixed;
		margin-left: 60%;
	}	
}


/* loading */
.loader {
	display: none; margin-left: 40%;
}

.loader .loader-text {
	text-transform: uppercase; font-size: 15px; margin-left: 10px;
}
